@import "compass";
@import "theme_variables";
.pos-bestsellers {
	margin-bottom:50px;
	.pos-title {
		position:relative;
		h2 {
			font:{
				size:22px;
			}
		}	
	}
	.item-product {
		display:inline-block;
		width:100%;
		padding:0 20px;
		margin-bottom:30px;
		&:last-child {
			margin:0;
		}
		.products-inner {
			float:left;
			width:90px;
			@media (max-width:359px) { // max 359px
				width:75px;
			}
			padding:0;
			margin-top:20px;
			margin-right:20px;
			&:before {
				display:none;
			}
			
		}
		.product-contents {
			background:transparent;
			overflow:hidden;
			display:block;
			width:auto;
			position:relative;
			min-height:120px;
			.actions {
				bottom:-15px;
			}
			.product-desc,.price-percent-reduction {
				display:none;
			}
			
			
		}
	}
	.owl-buttons {
		margin-top:-70px;
		height:30px;
		> div {
			text-align:center;
			width:30px;
			height:30px;
			line-height:30px;
			&:before {
				font-size:24px;
			}
		}
	} 
	
}
.pos-bestsellers-product {
	.title_block:after {
		display:none;
	}
	.item-product {
		border:0;
		border-bottom:$main_border;
		margin-bottom:20px;
		padding:10px 0;
		border-radius:0;
		&:before {
			display:none;
		}
		&:last-child {
			margin:0;
		}
		.products-inner {
			float:left;
			width:90px;
			margin-right:20px;
		}
		.product-contents {
			overflow:hidden;
			width:auto;
			display:block;
			padding:0;
			text-align:left;
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				display:inline-block;
				width:100%;
				overflow:visible;
				padding-top:10px;
			}
			.price-box .price-percent-reduction {
				display:none;
			}
			h5.product-name a {
				font-size:13px;
			}
		}
	}
}